{% extends 'base.html.twig' %}

{% block title %}Detalles Imagen
{% endblock %}

{% block principal %}
	<h1>Imagen</h1>
    <img src="{{ asset(imagen.geturlGaleria()) }}" alt="{{ imagen.nombre }}" width="200">
	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ imagen.id }}</td>
			</tr>
			<tr>
				<th>Nombre</th>
				<td>{{ imagen.nombre }}</td>
			</tr>
			<tr>
				<th>Descripcion</th>
				<td>{{ imagen.descripcion }}</td>
			</tr>
            <tr>
                <th>Categoria</th>
                <td>{{ imagen.categoria }}</td>
            </tr>
            <tr>
                <th>NumVisualizaciones</th>
                <td>{{ imagen.numVisualizaciones }}</td>
            </tr>
            <tr>
                <th>NumLikes</th>
                <td>{{ imagen.numLikes }}</td>
            </tr>
            <tr>
                <th>NumDownloads</th>
                <td>{{ imagen.numDownloads }}</td>
            </tr>
		</tbody>
	</table>
	<a class="btn btn-secondary py-2" href="{{ path('app_imagen_index') }}">Volver</a>
	{% if is_granted('ROLE_USER') %}
	{% if imagen.usuario.id == usuario.id or is_granted('ROLE_ADMIN') %}
	<br>
		<a class="btn btn-primary py-2" href="{{ path('app_imagen_edit', {'id': imagen.id}) }}">Editar</a>

		{{ include('imagen/_delete_form.html.twig') }}
	{% endif %}
	{% endif %}
{% endblock %}
